services:
  wrapper:
    image: node:22
    networks:
      - app-network
    volumes:
      - ./wrapper:/app
    expose:
      - "3000"
    env_file: .env
    command: >
      bash -c "cd /app && npm i &&
      cd node_modules/migros-api-wrapper &&
      echo '{\"compilerOptions\":{\"outDir\":\"dist\",\"target\":\"ES2020\",\"module\":\"commonjs\",\"esModuleInterop\":true,\"declaration\":true,\"resolveJsonModule\":true,\"skipLibCheck\":true},\"include\":[\"src\"]}' > tsconfig.json &&
      /app/node_modules/.bin/tsc &&
      cd /app && npm run serve"
    restart: unless-stopped

  app:
    build: ./app
    networks:
      - app-network
    volumes:
      - ./app:/var/www/html
    command: bash -c "composer install && php -S 0.0.0.0:80 -t public public/index.php"
    ports:
      - "80:80"
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
